*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #dff6f9, #c7ecee);
    padding: 20px;
}

.conteiner{
    position: relative;
    width: 760px;
    max-width: 100%;
    height: 440px;
    background: #fff;
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0 20px 45px rgba(0,0,0,0.18);
}

.form-box{
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .6s ease;
    z-index: 2;
}

.form-box h2{
    margin-bottom: 10px;
    color: #134e4a;
}

.form-box p{
    font-size: 14px;
    color: #577f7a;
    margin-bottom: 10px;
}

.social-icons{
    display: flex;
    gap: 12px;
    margin: 15px 0;
}

.social-icons a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #99e4df;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #134e4a;
    transition: .3s;
    text-decoration: none;
}

.social-icons a:hover{
    background: #14b8a6;
    color: #fff;
    border-radius: #14b8a6;
}

input {
    margin: 8px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: 8px;
    outline: none;
}

.form-box button{
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 22px;
    background: #5a48e0;
    color: #fff;
    cursor: pointer;
}

.register{
    left: 0;
    opacity: 0;
    pointer-events: none;
}


.overlay{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(135deg,#3141ab,#6f78ad);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    transition: .6s ease;
    z-index: 3;
}

.overlay button{
    margin-top: 20px;
    padding: 12px 35px;
    border-radius: 22px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.container.active .login{
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}

.container.active .register{
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

@media (max-width:768px) {
    .container{
        height: auto;
    }

    .form-box{
        position: relative;
        width: 100%;
        height: auto;
        transform: none;
        opacity: 1;
        pointer-events: auto;
    }

    .register{
        display: none;
    }

    .container.active .register{
        display: flex;
    }

    .container.activer .login{
        display: none;
    }

    .overlay{
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
        transform: none;
        border-radius: 0 0 22px 22px;

    }
}